<section  ng-controller="appCtrl" layout="row" layout-align="start stretch" class="full-height">

    <md-sidenav  class="md-sidenav-right" md-component-id="right" md-whiteframe="14">

      <md-toolbar layout="column" layout-align="center center"  class="md-hue-1">
        <div layout="row" layout-align="center center"><img class="logo" src="logo.png"/><h1 class="md-toolbar-tools">Amaze Me</h1></div>
      </md-toolbar>



      <md-content>
        <p class="grey center pad-tb" ng-show="result.length==0"><i>Empty Cart</i></p>
        <md-table-container ng-show="!result.length==0">
          <md-card>
          <table  cellspacing="0" class="table" >
            <h2><span class="info">Your Cart</h2>
            <tbody class="cartRows center" md-body>
              <tr md-row ng-repeat="items in result">
                <td>{{items.name}}</td>
                <td class="right">₹ {{items.price | number : 2}}
                <md-button class="md-fab md-mini md-warn" aria="removeItem" class="right" ng-click="remove(items.name)"><md-icon md-font-icon="mdi mdi-close mdi-24px"></md-icon> </md-button>
                </td>
              </tr>
              <tr>
              <td><span class="total">Total</span></td>
              <td> : ₹ {{total}}</td>
              <tr>
            </tbody>
          </table>
        </md-card>
        </md-table-container>



      </md-content>
      <footer>
        <p>© 2017 Amaze Me . Rights Reserved</p>
      </footer>
    </md-sidenav>

    <md-content layout="column" layout-align="start stretch" flex>

      <md-toolbar style="position: fixed;" class="md-hue-1">
            <div class="md-toolbar-tools">

              <h2 flex md-truncate><img class="logo" src="logo.png"/></h2>
              <span flex></span>
              <h3 md-truncate>{{user}}</h3>

                <md-button class="md-icon-button" aria-label="side-nav" ng-click="toggleMenu()">
                  <md-icon md-font-icon="mdi mdi-cart mdi-24px"></md-icon>
                </md-button>

            </div>
      </md-toolbar>
      <div ui-view flex class="view"></div>

    </md-content>
</section>
