      <md-card class="desc center white-text">
        <div layout="column">
              <h1>Filter Results</h1>
              <div flex-gt-xs="80" layout="row" layout-align="center center" >
                        <md-select ng-model="filter" placeholder="Select" class="md-no-underline">
                          <md-option value="Available">Availability</md-option>
                          <md-option value="discount">Discount</md-option>
                          <md-option value="price">Price</md-option>
                        </md-select>

                        <md-button class="md-primary" ng-click="sort(filter)">Filter</md-button>
              </div>
        </div>

      </md-card>
      <div layout-gt-xs="row" layout-align="space-around stretch">

      <div flex-gt-xs="30">

      </div>


      <div flex-gt-xs="80" layout="row" layout-align="center center" layout-wrap>
            <md-card flex-gt-xs="24" class="item" ng-repeat="item in items |orderBy:sortKey:reverse|filter:search">
              <img ng-src="{{item.picture}}" class="md-card-image" alt="user avatar">
              <md-card-content>
                <div layout="row" class="pad-tb" layout-align="space-between center">
                <h4 class="pad-0">{{item.product}}</h4>
                  <p ng-class="{avl: item.Available==true, unavl: item.Available!=true}" ng-if="item.Available==true">In Stock</p>
                  <p ng-class="{avl: item.Available==true, unavl: item.Available!=true}" ng-if="item.Available!=true">Out Of Stock</p>
                </div>

                <p class="pad-0">{{item.about}}</p>

                <div layout="row" class="pad-tb" layout-align="space-between center">
                <div layout="column" class="pad-tb" layout-align="space-between center">
                  <h4 class="pad-0 origPrc">₹ {{ item.price + ( item.price * item.discount  / 100) | number : 2 }}</h4>
                  <h4 class="pad-0">₹ {{ item.price }}</h4>
                </div>
                <p class="discount"> {{item.discount}} % off</p>
                </div>
              </md-card-content>
              <div class="md-actions center" layout="row" layout-align="end center">
                <md-button ng-click="add(item.id, item.product , item.price)">Add to Cart</md-button>
              </div>
            </md-card>
          </div>


</div>
