
<md-button class="md-fab md-primary md-hue-2 cartBtn box-one" ng-show="!cart" ng-click="cart = !cart" aria-label="Profile">
  <md-icon md-font-icon="mdi mdi-cart mdi-24px"></md-icon>
</md-button>

  <div flex="30" layout-gt-xs="column" layout-align="start stretch" hide-xs hide-sm class="cart begin" ng-class="{'prod border' : !cart}">
    <div layout="column" class="desc center white-text" ng-class="{'desc1' : !cart}" layout-align="center center">
    <p class="center"> search and sort filter</p>
    <div layout="row" layout-align="space-around center">
        <md-input-container style="margin-top: 33px;">
          <label>Search</label>
          <input ng-model="search" class="input">
        </md-input-container>
          <div layout="row" layout-align="space-between center" >
                    <md-select ng-model="filter" placeholder="Relevance" ng-change="sort(filter)" class="md-no-underline fltr">
                      <md-option value="Available">Availability</md-option>
                      <md-option value="discount">Discount</md-option>
                      <md-option value="price">Price</md-option>
                    </md-select>
            </div>
    </div>
  </div>

      <div ng-show="cart" class="box-one " ng-show="result.length==0">
        <table  class="table" ng-init="cart = true">
          <div layout="row" layout-align="space-between center">
            <h2 ><span class="info">Your Shopping Cart</h2>
              <md-button class=" md-mini md-primary" aria="removeItem" class="right" ng-click="cart = !cart">Minimize Cart</md-button>

          </div>

          <p ng-show="result.length==0" class="grey center pad-tb" ><i>Empty Cart</i></p>
          <tbody ng-show="!result.length==0" class=" center" md-body>
            <tr md-row ng-repeat="purchase in result">
              <td style="width: 30% !important" >{{purchase.name}}</td>
              <td style="width: 10% !important"  ng-repeat="item in items" ng-show="item.product==purchase.name">x{{ purchase.price / item.price | number : 0}}</td>
              <td style="width: 60% !important"  class="center">₹ {{purchase.price | number : 2}}
              <md-button class="md-fab md-mini md-warn" aria="removeItem" class="right" ng-click="remove(purchase.name)"><md-icon md-font-icon="mdi mdi-close mdi-24px"></md-icon> </md-button>
             </td>
            </tr>
            <tr style="width: 100% !important" >
            <td colspan="2"><span class="total">Total</span></td>
            <td><span class="totalText"> : ₹ {{total}}</span></td>
            <tr>
          </tbody>
        </table>
      </div>
    </div>

    <div layout="row" layout-align="center center" class="begin prod">
        <div flex-gt-sm="70" layout-gt-xs="column" layout-align="space-around stretch" layout-wrap>

        <div layout="row" layout-align="center center" class="items" layout-wrap>
              <md-card class="item md-block" ng-repeat="item in items |orderBy:sortKey:reverse|filter:search">
                <img ng-src="{{item.picture}}" class="md-card-image" alt="user avatar">
                <md-card-content>
                  <div layout="row" class="pad-tb" layout-align="space-between center">
                  <h4 class="pad-0">{{item.product}}</h4>
                    <p ng-class="{avl: item.Available==true, unavl: item.Available!=true}" ng-if="item.Available==true">In Stock</p>
                    <p ng-class="{avl: item.Available==true, unavl: item.Available!=true}" ng-if="item.Available!=true">Out Of Stock</p>
                  </div>

                  <p class="pad-0">{{item.about}}</p>

                  <div layout="row" class="pad-tb" layout-align="space-between center">
                  <div layout="column" class="pad-tb" layout-align="space-between center">
                    <h4 class="pad-0 origPrc">₹ {{ item.price + ( item.price * item.discount  / 100) | number : 2 }}</h4>
                    <h4 class="pad-0">₹ {{ item.price }}</h4>
                  </div>
                  <p class="discount"> {{item.discount}} % off</p>
                  </div>
                </md-card-content>
                <div class="md-actions center" layout="row" layout-align="end center">
                  {{}}
                  <md-button class="md-primary md-raised" ng-disabled="!item.Available" ng-click="add(item.id, item.product , item.price)">Add to Cart</md-button>
                </div>
              </md-card>
            </div>
          </div>

          <div flex="30" layout-gt-xs="row" hide-xs hide-sm layout-align="space-around stretch" class="container" layout-wrap>
          </div>

          </div>
